.app {
  display: flex;
  flex-flow: row wrap
}
.temp {
  width: 20%;
}
.textarea {
  width: 70%;
}
.forecast {
	margin-top: 30px;
}
.day {
	color: #000;
	background-color: #ffff00;
}
.night {
	color: #fff;
	background-color: #000;
}